{
    "presets": ["env", "react"],
    "plugins": ["transform-class-properties",
        [
            "module-resolver", {
                "alias": {
                    "githubBadge": "./public/githubBadge.svg"
                }
            }
        ]
    ]
}