{
    "presets": ["env", "react"],
    "plugins": ["transform-class-properties",
        [
            "module-resolver", {
                "alias": {
                    "OrgLogo": "./public/orgLogo.png",
                    "Favicon": "./public/favicon.png"
                }
            }
        ]
    ]
}
