body {
  width: 100%;
  height: 100%;
  color: #fff;
  background-repeat: repeat-y;
}

.checklist {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

.row {
  display: flex;
  height: 50px;
  align-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.imgcontainer {
  justify-content: center;
  text-align: center;
  width: 60px;
}

.icon {
  max-width: 50px;
  max-height: 50px;
  margin: auto;
}

.checked {
  background-color: rgba(22, 160, 133, 0.6);
}

input[type="checkbox"] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.checklist {
  display: inline-block;
  width: 300px;
  border: 0.8px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin-bottom: 30px;
}

.containter {
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  margin-top: 30px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.transparent-tile a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.tileItem {
  border-right: 0.05em solid white;
  padding: 0.5em;
}

.tileItem:last-child {
  border-right: none;
}

.logo {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  width: 100px;
}

.clearButton {
  background: yellow;
}

.transparent-tile {
  background: rgba(0, 0, 0, 0.5);
  margin: 10px 10px 10px 0;
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: inline-flex;
}

.counter {
  display: inline-flex;
  flex-direction: row;
}
